* {

    margin: 0;
    padding: 0;

}

body {

    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

.box {


    position: relative;
    height: 400px;
    width: 380px;
    display: block;
    background: linear-gradient(0deg, black, #1a1a1a)white;
    font-size: 2rem;

}

.glowing::before {

    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e8f74d, #bd2681, #6512b9, #ff3300de, #5aabde);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: glower 20s linear infinite;

}

@keyframes glower {

    0% {

        background-position: 0 0;

    }

    50% {

        background-position: 400% 0;

    }

    100% {

        background-position: 0 0;

    }

}